span.flw{
    float: left;
    color: gray;
    font-size: smaller;
    margin-left: 1.1em;
}
span.name-username{
    float: left;
    color: black;
    /*font-size: large;*/
    margin: 0;
}
div.user-list-item{
    padding-left: 1em;
}

span.user-list-item{
    color: black;
    font-size: large;
}

button.user-list-item{
    width: 100px;
    border-radius: 50px;
    border: 2px outset rgba(203, 128, 66, 0.77);
    color: rgba(203, 128, 66, 0.77);
    float: right;
    float: bottom;
}

div.username-n-flw{
    float: left;
}


a.username-link{
    text-decoration: none;
}

a.username-link:link {
    color: Black;
}
a.username-link:visited {
    color: Black;
}
a.username-link:hover {
    color: #2d3979;

}