div.user-list-item{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
}
span.flw{
    float: bottom;
    display: block;
}
span.name-username{
    display: block;
    float: left;
    color: black;
    /*font-size: large;*/
}
div.user-list-item{
}
/*p.username{*/
    /*color: rgba(0, 0, 0, 0.63);*/
/*}*/