.navigation-bar{
    width: 100%;
    height: 4.9em;
    background-color: #740908;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 10pt;
    position: fixed;
    top: 0;
    border-bottom: 3px outset #960b0a;
}

.navigation-bar{
    vertical-align: middle;
}
#logo{
    margin-left: 20%;
}
#notifications, #msg, #profile_pic{
    height: 35px;
    width: 35px;
    margin-top: 10%;
}

.navigation-bar img{
    height: 50px;
    width: 50px;
}

#jupitt{
    right: 0;
}